<div class="dashbox">

  <div class="sidebar">
    <div class="logo">
      <%= link_to home_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662339824/click%20n%20pole/20220905_015253_0000_jkdmxj.png", width:'40' %>
    <% end %>
    </div>

    <div class="sidelink">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1665345146/click%20n%20pole/home_iyuz6r.svg', width:'25' %>
      <%= link_to "home", dashboard_path %>
    </div>
    <hr>
    <div class="sidelink">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1665346049/click%20n%20pole/settings_czkhte.svg', width:'25' %>
      <%= link_to "Profile", profile_path %>
    </div>
    <hr>
    <div class="sidelink">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1665345148/click%20n%20pole/message-circle_rwzj7i.svg', width:'25' %>
      <%= link_to "Messages", dashboard_path %>
    </div>
    <hr>
    <div class="sidelink">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1665345149/click%20n%20pole/search_vbta9f.svg', width:'25' %>
      <%= link_to "Search a pole", dashboard_path %>
    </div>
    <hr>
    <div class="sidelink">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1665345150/click%20n%20pole/share-2_ueowsl.svg', width:'25' %>
      <%= link_to "Share your pole", dashboard_path %>
    </div><hr>
    <div class="sidelink">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1665345490/click%20n%20pole/Sans_titre_-_2022-10-09T215738.627_lclgyw.png', width:'25' %>
      <%= link_to "Training sessions", dashboard_path %>
    </div>
    <hr>
    <div class="sidelink">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1665345149/click%20n%20pole/play-circle_dimviv.svg', width:'25' %>
      <%= link_to "Tutorials", tutorials_path %>
    </div>
    <hr>
    <div class="sidelink">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1665345150/click%20n%20pole/shopping-bag_ccknhu.svg', width:'25' %>
      <%= link_to "Shop corner", shop_path %>
    </div>
    <hr>
    <div class="sidelink">
      <%= image_tag'https://res.cloudinary.com/dhxefoe7j/image/upload/v1665345147/click%20n%20pole/log-out_utyzob.svg', width:'25' %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
    </div>
    <br>
  </div>
