<div class="homebox">


      <div class="banner">

        <div class="logobanner">
          <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662339823/click%20n%20pole/20220905_015834_0000_udo4ym.png" %>

        </div>

        <div class="banner-text">
          <h1>The app every poler needs,</h1>
          <br>
          <h3>Pole anywhere, anytime !</h3>
        </div>
        <%# <%= image_tag('https://res.cloudinary.com/dhxefoe7j/image/upload/v1662339824/click%20n%20pole/png_20220905_021232_0000_kivrm6.png', class:'outside') %>



        <div class="auth-buttons">
          <%= link_to "Register", new_user_registration_path, class: "register" %>
          <%= link_to "Log in", new_user_session_path, class: "login" %>
        </div>

      </div>


      <div class="cta">
        <div class="find-share">
          <h4>Pole anywhere, anytime with our brand new app !</h4>
          <p>Find a pole nearby, or share yours</p>

          <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662641401/click%20n%20pole/Sans_titre_30_artog2.png", width:"220px" %>
        </div>

        <div class="tuto-shop">
          <h4>Discover our Tutorials</h4>
          <p>Videos available in Spin pole, Exotic pole, Static pole.</p>
          <p>Let's try it!</p>
          <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1662641369/click%20n%20pole/Sans_titre_31_nisvia.png", width:"200px" %>
        </div>

      </div>

      <div class="bottom">

        <div class="mail">
          <h4><i class="fa-solid fa-address-card"></i> contact@clickandpole.com</h4>
          <p>Click & Pole - 255, Republic street - London</p>
        </div>

        <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>

      </div>

</div>
