<div class="homebox">


      <div class="banner">

        <div class="logobanner">
          <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662339823/click%20n%20pole/20220905_015834_0000_udo4ym.png" %>

        </div>

        <div class="banner-text">
          <h1>The app every poler needs,</h1>
          <br>
          <h3>Pole anywhere, anytime !</h3>
        </div>
        <%# <%= image_tag('https://res.cloudinary.com/dhxefoe7j/image/upload/v1662339824/click%20n%20pole/png_20220905_021232_0000_kivrm6.png', class:'outside') %>



        <div class="auth-buttons">
          <%= link_to "Register", new_user_registration_path, class: "register" %>
          <%= link_to "Log in", new_user_session_path, class: "login" %>
        </div>

      </div>


      <div class="cta">
        <div class="box1">
          <div class="find-share">
            <h4>Organizing training sessions has never been more easy!</h4>
            <p>Find a pole nearby, or share yours</p>
                        <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662641401/click%20n%20pole/Sans_titre_30_artog2.png", width:"220px" %>
          </div>

          <div class="find-info">
            <h4>When poling is a passion, the need is fierce</h4> <br>
            <p>You don't have a pole and want to train with somebody ? <br> Wether you're in vacations or at home, <strong>Click & Pole</strong>  is made for your needs! <br>
            With this app, you'll be able to <strong>locate a poler</strong>  no matter where you are ! <br> You can also become a host, and <strong>share your pole!</strong>

          </div>
        </div>

        <div class="tuto">

          <div class="tutoscreen">
            <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1662724198/click%20n%20pole/Sans_titre_26_qbty3q.png", width:"252px" %>
            <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1662724289/click%20n%20pole/Sans_titre_25_wku4xd.png", width:"230px" %>
            <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1662724166/click%20n%20pole/Sans_titre_36_f1vrhu.png", width:"250px" %>
          </div>


          <div class="tuto-shop">
            <h4>Discover our Tutorials</h4>
            <p>Videos available in Spin pole, Exotic pole, Static pole.</p>
            <p>Let's try it!</p>
            <%= image_tag"https://res.cloudinary.com/dhxefoe7j/image/upload/v1662641369/click%20n%20pole/Sans_titre_31_nisvia.png", width:"200px" %>

          </div>



        </div>
      </div>



      <div class="bottom">

        <div class="mail">
          <h4><i class="fa-solid fa-address-card"></i> contact@clickandpole.com</h4>
          <p>Click & Pole - 255, Republic street - London</p>
        </div>

        <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>

      </div>

</div>
